<div class="container-fluid" >
    <h2>Asistencia De Miembros del equipo</h2>
    <br>
    <form [formGroup]="formRegistro">
        <div class="row" id="map_section">
            <div class="col-12 col-m-6 col-lg-2">
                <label for="exampleFormControlInput1" class="form-label">Código del estudiante:</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Código del estudiante" formControlName="codigo">
            </div>
            <div class="col-12 col-m-6 col-lg-2">
                <label for="exampleFormControlInput1" class="form-label">Equipo:</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Equipo" formControlName="equipo">
            </div>
            <br>
            <div style="margin: 1rem;">
                <button [disabled]="!formRegistro.valid" color="primary" type="button" class="btn btn-success" (click)="registrarAsistencia()">
                   Registrar Asistencia
                </button>
            </div>
        </div>
    </form>
</div>
