<div class="container-fluid" >
    <br>
    
        <h3>
            Bienvenido, por favor ingrese su usuario y contraseña:
        </h3>
        <br>

    <form [formGroup]="formRegistro">
        <div class="row" id="map_section">
            <div class="col-12 col-m-6 col-lg-2">
                <label for="exampleFormControlInput1" class="form-label">Usuario:</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Escriba su usuario" formControlName="usuario">
              </div>
        </div>
        <br>
        <div class="row" id="map_section">
            <div class="col-12 col-m-6 col-lg-2">
                <label for="exampleFormControlInput1" class="form-label">Contraseña:</label>
                <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="Escriba su contraseña" formControlName="contrasena">
              </div>
        </div>
        <br>
        <div style="margin: 1rem;">
            <button [disabled]="!formRegistro.valid" color="primary" type="button" class="btn btn-success" (click)="actualizarUsuario()">
                Guardar Contraseña
            </button>
        </div>
    </form>
</div>