<div class="container-fluid" >
    <br>
    <form [formGroup]="formPrestamo">
        <div class="row" id="map_section">
            <label for="formGroupExampleInput" class="form-label">Seleccione la sede en la que desea realizar el prestamo:</label>
            <select class="form-select form-select-sm" aria-label=".form-select-sm example" (change)="onChangeS()" formControlName="sede" >
                <option selected>Elija una de las siguientes opciones:</option>
                <option >--</option>
                <option *ngFor="let sede of sedes" [value]="sede.IDCOMPLEJO" >{{sede.NOMCOMPLEJO}}</option>
              </select>
        </div>
        <br>
        <div >
            <label for="formGroupExampleInput" class="form-label">Seleccione el equipo para prestamo:</label>
            <select class="form-select form-select-sm" aria-label=".form-select-sm example" (change)="onChangeEQ()" formControlName="equipo">
                <option selected>Elija una de las siguientes opciones:</option>
                <option >--</option>
                <option *ngFor="let equipo of equipos" [value]="equipo.CONSECINV"  >{{equipo.NOMEQUIPO}}</option>
              </select>
        </div>
        <br>
        <div class="row" id="map_section" >
            <label for="formGroupExampleInput" class="form-label">Para que desea el equipo</label>
            <select class="form-select form-select-sm" aria-label=".form-select-sm example" (change)="onChangeES($event.value)" formControlName="estado" >
                <option selected>Elija una de las siguientes opciones:</option>
                <option >--</option>
                <option *ngFor="let estado of estados" [value]="estado.IDESTADO">{{estado.DESCESTADO}}</option>
              </select>
        </div>
        <br>
        <div style="margin: 1rem;">
            <button [disabled]="" color="primary" type="button" class="btn btn-success" (click)="guardarPrestamo()">
                Registrar prestamo
            </button>
        </div>
       
    </form>
</div>