<div class="container-fluid" >
    <br>
    <form [formGroup]="formEvento">
        <div class="row" id="map_section">
            <label for="formGroupExampleInput" class="form-label">Seleccione la sede en la que desea realizar el evento:</label>
            <select class="form-select form-select-sm" aria-label=".form-select-sm example" (change)="onChangeS()" formControlName="sede" >
                <option selected>Elija una de las siguientes opciones:</option>
                <option >--</option>
                <option *ngFor="let sede of sedes" [value]="sede.IDCOMPLEJO" >{{sede.NOMCOMPLEJO}}</option>
              </select>
        </div>
        <br>
        <div >
            <label for="formGroupExampleInput" class="form-label">Seleccione el area en la que desea realizar el evento:</label>
            <select class="form-select form-select-sm" aria-label=".form-select-sm example" (change)="onChangeA($event.value)" formControlName="area">
                <option selected>Elija una de las siguientes opciones:</option>
                <option >--</option>
                <option *ngFor="let area of areas" [value]="area.IDAREA" >{{area.NOMAREA}}</option>
              </select>
        </div>
        <br>
        <div class="row" id="map_section" >
            <label for="formGroupExampleInput" class="form-label">Deportes permitidos en esta area:</label>
            <select class="form-select form-select-sm" aria-label=".form-select-sm example" (change)="onChangeD($event.value)" formControlName="deporte" >
                <option selected>Elija una de las siguientes opciones:</option>
                <option >--</option>
                <option *ngFor="let deporte of deportes" [value]="deporte.IDDEPORTE" >{{deporte.NOMDEPORTE}}</option>
              </select>
        </div>
        <br>
        <div class="row" id="map_section">
            <div class="col-12 col-m-6 col-lg-2">
                <label for="exampleFormControlInput1" class="form-label">Fecha del evento:</label>
                <input type="date" class="form-control" id="exampleFormControlInput1"  formControlName="fecha">
              </div>
        </div>
        <br>
        <div class="row" id="map_section" >
            <div class="col-12 col-m-6 col-lg-2">
                <label for="exampleFormControlInput1" class="form-label">Duración del evento en horas:</label>
                <input type="number" class="form-control" id="exampleFormControlInput1"  formControlName="duracion">
              </div>
        </div>
        <br>
        <div class="row" id="map_section" >
            <div class="col-12 col-m-6 col-lg-2">
                <label for="exampleFormControlInput1" class="form-label">Numero de participante:</label>
                <input type="number" class="form-control" id="exampleFormControlInput1"  formControlName="participantes">
              </div>
        </div>
        <div style="margin: 1rem;">
            <button [disabled]="" color="primary" type="button" class="btn btn-success" (click)="guardarEvento()">
                Registrar Evento
            </button>
        </div>
       
    </form>
</div>